.slider_container {
    margin-left: 430px;
    width: 400px;
    text-align: center;
    margin-top: 20px;
}
.button_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.checkbox_container {
    display: flex;
    flex-direction: column;
   flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
    font-size: larger;
}
/* .checkbox_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
    font-size: larger;

} */