.slider_container {
    margin-left: 430px;
    width: 400px;
    text-align: center;
    margin-top: 20px;
}
.button_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}