.slider_container {
    margin-left: 430px;
    width: 400px;
    text-align: center;
    margin-top: 20px;
}

.button_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.checkbox_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
    font-size: larger;
}

.checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: top;
    margin: 10px;
}   

.symptoms {
    display: flex;
    flex-direction: row;
    justify-content: center;
}